<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <p class="h1 text-center">Our Story</p><br>
    <p class="lead">In July of 2013, two people found true love on a dating site. It may sound absurd, but that’s how Sydney Long and Sean Oldham met. After a few days of convincing, Sydney finally agreed to meet Sean at a public place for some free food. Little did they know, this would be the start of a journey they would never forget.</p>

    <p class="lead">She showed up right on time, even early. He would have no way of knowing this - he was late. When he finally arrived, he had a picnic basket full of delicious food. This made up for his delay and all was well. They sat down on a picnic blanket and chatted the night away, talking about anything of interest. Then, the fireworks started. Literal fireworks, there was an anonymous celebration happening a few blocks away. They reaped the benefits of this celebration, and that was a perfect way to end a perfect first date.</p>

    <p class="lead">The second date was an archery lesson, with plenty of competition and good-natured trash talking. It was obvious to both at the end of the night that they had found something special (which happened to be her superior archery skills).</p>

    <p class="lead">Over the next two years there were fancy dinner dates, camping trips, Astros games, 24 straight hours of Minecraft, a trip to Washington D.C. (during a government shutdown, no less), and lazy weekends curled up on the couch watching TV.</p>

    <p class="lead">Throughout their time together he has introduced her to interesting beer, James Bond films, how to not burn garlic on the stove, and spicy food. Not to be outdone, she has introduced him to “before noon on weekends,” The Princess Bride, wine, and a magical way to dice a tomato.</p>

    <p class="lead">Together they share a love of Netflix, happy hour at sushi places, bad puns, and their pets Harvey and Leonidas.</p>

    <p class="lead">It was clear from the start that this was going to be a forever deal. Sydney & Sean can’t wait to make it official in September 2016.</p>
  </div>
</div>
