<div class="container">
  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <p class="h1 text-center">Details</p>
    <p class="lead text-center">We hope you will join us at Saint Arnold Brewery for a reception with our loved ones and friends. The map below shows the location of the event.</p>
    <p class="lead text-center">The event will begin at 7 PM and end at 10 PM.</p>
    <p class="lead text-center">Please note a couple rules that Saint Arnold has in place:</p>
    <p class="lead text-center"><u><small>"No alcoholic beverages may be brought onto Saint Arnold premises or parking area. Our liquor license does not allow us (or you) to have other alcoholic beverages brought into the brewery."</small></u></p>
    <p class="lead text-center"><u><small>"All minors must be accompanied by a parent or legal guardian."</small></u></p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d27710.33359338134!2d-95.36741666556614!3d29.754741084930885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640bed4ee07bf45%3A0x22bbfc598ec6fabb!2sSaint+Arnold+Brewing+Company!5e0!3m2!1sen!2sus!4v1452653945323" width="100%" height="375" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
