<div class="container">
  <p class="h1 text-center">Registry</p>
  <br>
  <p class="h2 text-center">Coming Soon</p>
  <!-- <ul>
    <li>Pottery Barn</li>
    <li>Bed Bath & Beyond</li>
    <li>Amazon</li>
  </ul> -->
</div>
