<div class="container">
  <p class="h1 text-center">Registry</p>
  <br><br>
  <p class="h2 text-center"><a href="http://www.amazon.com/registry/wedding/9BA0KYWQIG4W">Amazon</a></p>
  <br />
  <p class="h2 text-center"><a href=" https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=542938098&eventType=Wedding">Bed Bath & Beyond</a></p>
  <br />
  <p class="h2 text-center"><a href="http://www.potterybarn.com/registry/3804865/registry-list.html">Pottery Barn</a></p>
</div>
